<ul id="feed-top-nav">
	<li>
		<a href="<%= feeds_path %> ">feed home </a>
	</li>
	<% @feeds.sort_by!{ |e| e.name.downcase } %>
	<% @feeds.each do |feed| %>
		<li class="dynamic-feed"><%= link_to feed.name, feed_path(feed.slug) %></li>
	<% end %>
</ul>