<div class="row">
    <div class="col-md-9">
    	<div class="well">
    		<h3>welcome to our community section!</h3>
    		<p>
				discover and share your favorite stores, links, videos, pics, articles and more with other simpleweed members from around
				the world.
    		</p>
    		<table>
    			<tr>
    				<td style="vertical-align:top;">
			    		<h6>please, <i>do</i>:
			    		<ol>
			    			<li>report suspicious or malicious posts, comments or users</li>
			    			<li>treat everyone with respect</li>
			    			<li>vote and help give worthy posts greater visibility</li>
			    			<li>try to use proper grammar and spelling.  what are we, potheads?</li>
			    		</ol>
			    	</td>
			    	<td style="vertical-align:top;">
			    		<h6>please, <i>do not</i>:
			    		<ol>
			    			<li>post personal info</li>
			    			<li>spam</li>
			    			<li>solicit votes</li>
			    			<li>break any local, county, state, federal, international or universal laws</li>
			    			<li>attack or bully</li>
			    			<li>troll</li>
			    		</ol>
			    	</td>
			    </tr>
			</table>
    	</div>
    	<h3 class="feed-headers">feed home
		<% if @roleservice.canAddCommunityFeed(current_user) %>
			<span class="add-feed-button">				
			<%= link_to 'add new feed', new_feed_path() , data: { toggle: "modal", target: "#modal", remote: new_feed_path()} , id: "add-new-feed-button" , class: "btn btn-primary pull-right" %>
			</span>			
		<% end %>
		</h3>	
		<hr>	
		<% @top_posts.each do |post| %>		
			<%= render partial: 'feed_posts/feed_post_summary', locals: {post: post, render_feedname: true} %>			
		<% end %>
    </div>
    <div class="col-md-3" id="feed-top-nav-container">		
    	<%= render partial: 'nav_feed' %>
    </div>
</div>





	
	
