
<div class="row">
    <div class="col-md-9">		



		<h3 class="feed-headers">
			<%= link_to 'feed home', feeds_path %>
			<span> / </span>
			recent store reviews		
		</h3>
		<hr>	
		<% @reviews.each do |store_review| %>	  
		  	<% @feed = true %>
		    <%= render partial: 'store_reviews/store_review', locals: {store_review: store_review} %>	  
		<% end %>	



    </div>
    <div class="col-md-3" id="feed-top-nav-container">		
    	<%= render partial: 'nav_feed' %>
    </div>
</div>





	
	
