
<%= render partial: 'nav_feed' %>

<div class="activities col-md-9">

	
	<h3>
		<%= link_to 'feed home', feeds_path %>
		<span> / </span>
		recent item reviews
		
	</h3>



	<hr>
	
	<% @reviews.each do |store_item_review| %>
	  <div class="store-item-review">
	  	<% @feed = true %>
	    <%= render partial: 'store_item_reviews/store_item_review', locals: {store_item_review: store_item_review} %>
	  </div>  
	<% end %>  		
	
</div>

