
<% if activity.trackable %>

<% @store_item_review = activity.trackable %>
<% @store_item = activity.trackable.store_item %>
<% @store = @store_item.store %>

<% @feed = true %>
<div class="activity">
	<%= render partial: 'store_item_reviews/store_item_review', locals: {store_item_review: @store_item_review} %>
</div>
<% end %>