<div class="plan-basic-features">
	<ul class="ul-basic-features">
		<li>
			<span class="glyphicon glyphicon-bullhorn subscription-glyph"></span>
			PROMOTIONAL TAGLINE
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-pencil subscription-glyph"></span>				
			BUSINESS DESCRIPTION
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-cog subscription-glyph"></span>								
			DISPENSARY FEATURES
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-camera subscription-glyph"></span>								
			IMAGE HOSTING
		</li>
	</ul>
</div>