<div class="plan-basic-features">
	<ul class="ul-basic-features">
		<li>
			<span class="glyphicon glyphicon-home subscription-glyph"></span>
			PROMOTIONAL TAGLINE
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-thumbs-up subscription-glyph"></span>				
			BUSINESS DESCRIPTION
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-th-list subscription-glyph"></span>								
			DISPENSARY FEATURES
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-th-list subscription-glyph"></span>								
			IMAGE HOSTING
		</li>
	</ul>
</div>