<div class="col-md-3">		
	<div class="plan-description-container">
		<div class="plan-name">
			free
		</div>			
		<div class="plan-cost center">
			<span class="subscription-dollar-sign-free pull-left">
				$
			</span>
			<span class="subscription-month-free pull-right">
				/MO
			</span>

			<div class="subscription-dollar-cost ">
				<span>0</span>			
			</div>
			<div class="subscription-free-trial">
				for free always
			</div>
		</div>
		<div class="cancel-text">
			directory services are always free, so why not start getting more customers today?
		</div>
	</div>
	<%= render partial: 'stores/free_subscription_features' %>
</div>