<div class="col-md-3">		
	<div class="plan-description-container">
		<div class="plan-name">
			gram
			<%= link_to 'subscribe', store_path(@store), class: 'btn btn-primary pull-right' , id: "choose-free-button" %>
		</div>			
		<div class="plan-cost center">
			<span class="subscription-dollar-sign-free pull-left">
				$
			</span>
			<span class="subscription-month-free pull-right">
				/MO
			</span>

			<div class="subscription-dollar-cost ">
				<span>9</span>			
			</div>
			<div class="subscription-free-trial">
				1 month free trial
			</div>
		</div>
		<div class="cancel-text">
			try simple weed for a month, and see if we can help you sell an extra gram
		</div>
	</div>
	<%= render partial: 'stores/free_subscription_features' %>
</div>