<div class="plan-core-features">
	<ul class="ul-core-features">
		<li>
			<span class="glyphicon glyphicon-home subscription-glyph"></span>
			ADDRESS, CONTACT, HOURS
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-thumbs-up subscription-glyph"></span>				
			RATINGS & REVIEWS
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-user subscription-glyph"></span>				
			MEMBER ALERTS
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-th-list subscription-glyph"></span>								
			STORE MENU (6 CATEGORIES)
		</li>
	</ul>
</div>