<div class="plan-plus-features">
	<ul class="ul-plus-features">
		<li>
			<span class="glyphicon glyphicon-gift subscription-glyph"></span>
			DAILY SPECIALS
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-tag subscription-glyph"></span>				
			FIRST TIME PATIENT DEALS
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-map-marker subscription-glyph"></span>								
			SEARCH OPTIMIZATION
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-plus subscription-glyph"></span>								
			EXPANDED ITEM VIEW
			<hr/>
		</li>
		<li>
			<span class="glyphicon glyphicon-wrench subscription-glyph"></span>								
			ADVANCED CUSTOMER SUPPORT
		</li>
	</ul>
</div>