<div class="col-md-3">		
	<div class="plan-description-container">
		<div class="plan-name">
			plus
		</div>			
		<div class="plan-cost ">
			<span class="subscription-dollar-sign-plus pull-left">
				$
			</span>
			<span class="subscription-month-plus pull-right">
				/MO
			</span>

			<div class="subscription-dollar-cost-plus ">
				<span>499</span>			
			</div>
			<div class="subscription-free-trial center">
				2 month free trial
			</div>
		</div>
		<div class="cancel-text">
			try simpleweed free for 2 months.  if you're not satisifed with this service, cancel any time.
		</div>
	</div>
	<div class="plan-core-features">
		<ul class="ul-core-features">
			<li>
				<span class="glyphicon glyphicon-home subscription-glyph"></span>
				ADDRESS, CONTACT, HOURS
				<hr/>
			</li>
			<li>
				<span class="glyphicon glyphicon-thumbs-up subscription-glyph"></span>				
				RATINGS & REVIEWS
				<hr/>
			</li>
			<li>
				<span class="glyphicon glyphicon-th-list subscription-glyph"></span>								
				STORE MENU (6 CATEGORIES)
			</li>
		</ul>
	</div>
</div>