 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">edit delivery area</h4>          
        </div>
        <div class="modal-body">
            <%= form_for :store, url: update_deliveryarea_store_path, method: "put" do |f| %>
                
              <p class = "form-group">
                <%= f.label :deliveryarea,  "delivery area"  %><br>
                <%= f.text_area :deliveryarea, :rows => 4,  :class => 'form-control' , :id => 'store_deliveryarea_input' , :required => true   %>
              </p>             
                           
              <p class = "form-group pull-right">              	
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <%= f.submit :class => 'btn btn-primary lowercase' , :id => 'save_store_deliveryarea_button'%>
              </p>
            <% end %>
            <div class="simple-weed-modal-footer">
            </div>
          </div><!-- modal-footer -->
      </div> <!-- modal-content -->
</div>    
