 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title inline-header" id="myModalLabel">edit first time patient deals</h4>          
          <button type="button" class="close popup-close-x" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <%= form_for :store, url: update_firsttimepatientdeals_store_path, method: "put" do |f| %>
              <p class = "form-group">
                <%= f.label :firsttimepatientdeals,  "first time pateint deals"  %><br>
                <%= f.text_area :firsttimepatientdeals, :rows => 4,  :class => 'form-control' , :id => 'store_first_time_patient_deals_input'  %>
              </p>             
                           
              <p class = "form-group pull-right">              	
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <%= f.submit :class => 'btn btn-primary lowercase' , :id => 'save_store_first_time_patient_deals_button'%>
              </p>
            <% end %>
            <div class="simple-weed-modal-footer">
            </div>
          </div><!-- modal-footer -->
      </div> <!-- modal-content -->
</div>    
