
<br/>
<h1 class="subscription-header center">manage your subscription</h1>
<div class="row">
	
	<%= render partial: 'stores/subscription_plan' %>
	<%= render partial: 'stores/subscription_plan' %>
	<%= render partial: 'stores/subscription_plan' %>
	<div class="col-md-3">		
		<div>
			"ow to center a row (12 column) in Bootstrap 3 ? I do not want to use ... What you are doing is not working, because you apply the margin: a"
		</div>
		<hr />
		<div>
			"ow to center a row (12 column) in Bootstrap 3 ? I do not want to use ... What you are doing is not working, because you apply the margin: a"
		</div>
	</div>
</div>

