
<br/>
<h1>manage your subscription</h1>
<div class="row">
	<%= render partial: 'stores/subscription_plan' %>
	<%= render partial: 'stores/subscription_plan' %>
	<%= render partial: 'stores/subscription_plan' %>
	
</div>

