<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title inline-header" id="myModalLabel">flag this post</h4>          
      <button type="button" class="close popup-close-x" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    </div>
    <div class="modal-body">
        <%= form_for "flag", url: flag_feed_feed_post_path, :remote => true do |f| %>
          
          <%= f.label :reason,  "reason"  %><br>
          <%= f.text_area :reason, :rows => 3,  :class => 'form-control' %>                
          
          <p class = "form-group pull-right">              	
            <button type="button" class="btn btn-default" id="close-modal-button" data-dismiss="modal">Close</button>
            <%= f.submit :class => 'btn btn-primary' , :id => 'add_flag_on_post'%>
          </p>
        <% end %>

      <div class="simple-weed-modal-footer"></div>            
      </div><!-- modal-body -->        
  </div> <!-- modal-content -->
</div>    
