<%= form_tag(follow_store_store_item_path(item.store, item.id), id: "follow-item-form-#{item.id}", method: "post" , :remote => true) do %>			
	<%= button_tag(type: 'submit', id: "follow-store-item-button", class: "btn btn-success follow-item-button") do %>
		<div>follow</div>
	<% end %>
	
<% end %>
