<% if item.image_url.blank? %>	
	<span class="glyphicon glyphicon-leaf user-pic"></span>		    				
<% else %>	
	<img class="user-pic-borderless" width="40px" height="40px" src = "http:<%= item.image_url %>"></img>	
<% end %>