<%= form_tag(unfollow_store_store_item_path(item.store, item.id), id: "unfollow-item-form-#{item.id}", method: "post" , :remote => true)  do %>			
	<%= button_tag(type: 'submit', class: "btn btn-default unfollow-item-button") do %>
		<span>UNFOLLOW</span>
	<% end %>
<% end %>	