<h2><%= link_to @store.name, store_path(@store)%> Item Menu</h2>

<table class="table">
	<tr>
        <th>Name</th>
    </tr>
	<% @store_items.each do |store_item| %>
	<tr>
		<td>			
			<%= link_to store_item.name, edit_store_store_item_path(@store, store_item), data: { toggle: "modal", target: "#modal" , remote: edit_store_store_item_path(@store, store_item)} %>
		</td>
	</tr>
    <% end %>
</table>


<%= link_to "Add Item", new_store_store_item_path, id: "new_store_item", data: { toggle: "modal", target: "#modal" , remote: new_store_store_item_path} , class: 'btn btn-primary'%>