<% content_for :head do %>
<% if Rails.env == 'production' %>		
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=<%= Smellyleaf::Application.config.maps_api_key %>"></script>			
<% else %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>			
<% end %>	

<% end %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">    
	

    <div class="sw-modal-body">
    	<div class="item-popup-tab-nav-container">
	    	<ul class="nav nav-tabs">
		  		<li class="active"><a id= "info-tab-link" href="#info" data-toggle="tab">info</a></li>
		  		<% if @reviewtab != "false" %>
		  			<li><a id="review-tab-link" href="#reviews" data-toggle="tab">reviews</a></li>  
		  		<% end %>
		  		<% if @storetab != "false" %>
		  			<li><a id="store-tab-link" href="#store-info" data-toggle="tab">store</a></li>  
		  			<script>
		  				$("#store-tab-link").click(function(){		  					
		  					SW.codeAddress();
		  				})
		  			</script>
		  		<% end %>
				<button type="button" class="close item-popup-close-x" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			</ul>

		</div>
		<!-- Tab panes -->
		<div class="tab-content item-modal">
			<div class="tab-pane active" id="info">
	  			<%= render :partial =>'store_items/info_tab' %>		  	
			</div>  	
		<% if @reviewtab != "false" %>
			<div class="tab-pane" id="reviews">
				<%= render :partial =>'store_items/review_tab' %>							
			</div>  
		<% end %>
		<% if @storetab != "false" %>
			<div class="tab-pane" id="store-info">								
				<%= render :partial =>'store_items/store_tab' %>							
			</div>  
		<% end %>
		</div>

	<hr/>
    <p class = "form-group pull-right" style="margin-right:20px; margin-bottom:15px;">               
		<button id="cancel-button" type="button" class="btn btn-default" data-dismiss="modal">close</button>
	
	</p>
    <div class="simple-weed-modal-footer">
    </div>  
  </div> <!-- modal-content -->
</div>    
<script>
//be careful with css selector.  If you remove .nav-tabs, it'll disable all the links in the tab panels.
$('#item-preview-tab-content .nav-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')  
})
</script>
