<div class="modal-dialog">
  <div class="modal-content">    
	<ul class="nav nav-tabs">
  		<li class="active"><a id= "info-tab-link" href="#info" data-toggle="tab">info</a></li>
  		<li><a id="review-tab-link" href="#reviews" data-toggle="tab">reviews</a></li>  
  		<% if @storetab != "false" %>
  			<li><a id="store-tab-link" href="#store-info" data-toggle="tab">store</a></li>  
  		<% end %>
	</ul>

    <div class="modal-body">
		<!-- Tab panes -->
		<div id="item-preview-tab-content" class="tab-content">
		  	<%= render :partial =>'store_items/info_tab' %>
		</div>  	
		<div class="tab-pane" id="reviews">
			<%= render :partial =>'store_items/review_tab' %>			
		</div>  
		<% if @storetab != "false" %>
			<div class="tab-pane" id="store-info">
				<%= @storetab %>
				<%= render :partial =>'store_items/store_tab' %>			
			</div>  
		<% end %>
	</div>


    <p class = "form-group pull-right">               
		<button id="cancel-button" type="button" class="btn btn-default" data-dismiss="modal">close</button>
	
	</p>
    <div class="simple-weed-modal-footer">
    </div>  
  </div> <!-- modal-content -->
</div>    
<script>
//be careful with css selector.  If you remove .nav-tabs, it'll disable all the links in the tab panels.
$('#item-preview-tab-content .nav-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')  
})
</script>
