<% content_for :head do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>		
	<style>
		/** have to add margin on this page, b/c it doesn't have the normal app layout and the header will cover the message up **/
		.alert {
			margin-top:77px;
			margin-bottom:0px !important;
		}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<% javascript_include_tag "jquery.fullPage.min.js" %>
	<% javascript_include_tag "jquery.slimscroll.min.js" %>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['welcome', 'explore', 'share', 'follow', 'business'],
				sectionsColor: ['#FFFFFF', '#FFFFFF', '#386C8F'],
				navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['First page', 'Second page', 'Third and last page'],
				resize:false
			});
		});

		$(document).ready(function() {
			$("#take-tour-button").click(function() {
				console.log("scroll");
				// Create a new jQuery.Event object with specified event properties.
				var e = jQuery.Event( "DOMMouseScroll",{delta: -650} );

				// trigger an artificial DOMMouseScroll event with delta -650
				jQuery( "section1" ).trigger( e );
			})
		});
		
	</script>



<% end %>


	
<div id="fullpage">
	<div class="section " id="section0">
		<div class="intro">
			
			<span class="welcome-header">
				<h1 class="welcome-h1">Welcome to Simpleweed</h1>
			</span>

			<p class="welcome-paragraph">Simpleweed is a medical marijuana discovery engine and community that connects users with dispensaries and other like minded
				individuals from around the world that share a common interest.  Our goal is to help standardize the industry and make the
				dispensary experience, well, simple.
			</p>
			
			<a id="take-tour-button" href="#explore" class="active btn btn-default btn-lg take-tour-button">TAKE A TOUR</a>

		</div>
	</div>
	<div class="section" id="section1">
	    <div class="slide" id="slide1">
			<div class="intro">
				<span class="welcome-header">
					<h1 class="welcome-h1">Explore</h1>
				</span>

				<p class="welcome-paragraph">
					discover new strains and products near you by searching for any keywords.  looking for something specific?  use our advanced search filters to find exactly what you want.
				</p>	
			</div>
		</div>

	    
	</div>
	<div class="section" id="section2">
		<div class="intro">
			<div class="homepage-spacer"></div>
				<span class="welcome-header">
					<h1 class="welcome-h1">Share</h1>
				</span>

				<p class="welcome-paragraph">
					learn from the community or share your own experiences by writing reviews and posting your favorite links, articles, photos and more about various topics.
				</p>
		</div>
	</div>

	<div class="section" id="section3">
		<div class="intro">
			<div class="homepage-spacer"></div>
				<span class="welcome-header">
					<h1 class="welcome-h1">Follow</h1>
				</span>

				<p class="welcome-paragraph">
					follow your favorite stores, items and other users to receive updates when any activity or change is detected. access your alerts from you profile activity feed.
				</p>
		</div>
	</div>

	<div class="section" id="section4">
		<div class="intro">
			<div class="homepage-spacer"></div>
				<span class="welcome-header">
					<h1 class="welcome-h1">Business</h1>
				</span>

				<p class="welcome-paragraph">
					get discovered and gain new fans by listing your dispensary and menu for free.  we have over 4,000 dispensaries already listed on simpleweed.  find your listing and claim it today, or create a new listing.
				</p>
		</div>
	</div>

</div>
	

	