
<div class="well">
<h1>Terms of Service</h1>
<p>Welcome to SimpleWeed.  We hope you find it useful.  </p>
<p>PLEASE READ THIS AGREEMENT CAREFULLY AS IT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE SERVICE.
These terms and conditions are effective immediately for those registering accounts after ____________.  You may PRINT the Terms of Service by clicking here. To PRINT our Privacy Policy, click here.
This website is provided by SimpleWeed, LLC ("SimpleWeed" or "we," "our" or "us"). These terms of service ("TOS") govern your access and use of www.simpleweed.org, and any other official SimpleWeed website (including mobile sites), mobile application, interactive features, widgets, and/or other online services that post a link to or reference the TOS (collectively referred to as the "Service"), regardless of how you access or use the Service, whether via personal computers, mobile devices or otherwise. By accessing or using the Service, you are agreeing to the TOS and concluding a legally binding contract with SimpleWeed. Do not access or use the Service if you are unwilling or unable to be bound by the TOS.
In some instances, both the TOS and separate guidelines, rules, or terms of service or sale setting forth additional or different terms and/or conditions will apply to your use of the Service or to a service or product offered via the Service (in each such instance, and collectively "Additional Terms"). To the extent there is a conflict between the TOS and any Additional Terms, the Additional Terms will control unless the Additional Terms expressly state otherwise. Please also review the terms of the Service's Privacy Policy here, which you accept by using the Service.
</p>
<p>
Translation
We may translate these TOS into other languages for your convenience. Nevertheless, the English version governs your relationship with SimpleWeed, and any inconsistencies among the different versions will be resolved in favor of the English version.
</p>
<p>
1. YOUR ACCEPTANCE OF THE TERMS OF SERVICE
SimpleWeed, as part of the Service, may provide a variety of online resources, including classified ads, forums, message boards, ratings, reviews and various messaging services. By using the Service in any way, you are agreeing to comply with the TOS. In addition, when using particular SimpleWeed services provided as part of the Service, you agree to abide by any applicable posted guidelines for all SimpleWeed services, which may change from time to time. Should you object to any term or condition of the TOS, any guidelines, or any subsequent modifications thereto or become dissatisfied with SimpleWeed in any way, your only recourse is to immediately discontinue use of SimpleWeed. SimpleWeed has the right, but is not obligated, to strictly enforce the TOS through self-help, active investigation, litigation and prosecution.
</p>
<p>
2. MODIFICATIONS TO THE TOS
The TOS (or, if applicable, Additional Terms), in the form posted at the time of your use of the applicable services to which it applies, shall govern such use (including transactions entered during such use). AS OUR SERVICE EVOLVES, THE TOS AND CONDITIONS UNDER WHICH WE OFFER THE SERVICE MAY PROSPECTIVELY BE MODIFIED AND WE MAY CEASE OFFERING THE SERVICE UNDER THE TOS OR ADDITIONAL TERMS FOR WHICH THEY WERE PREVIOUSLY OFFERED. ACCORDINGLY, EACH TIME YOU SIGN IN TO OR OTHERWISE USE THE SERVICE YOU ARE ENTERING INTO A NEW AGREEMENT WITH US ON THE THEN APPLICABLE TERMS AND CONDITIONS AND YOU AGREE THAT WE MAY NOTIFY YOU OF OTHER TERMS BY POSTING THEM ON THE SERVICE (OR IN ANY OTHER REASONABLE MANNER OF NOTICE WHICH WE ELECT), AND THAT YOUR USE OF THE SERVICE AFTER SUCH NOTICE CONSTITUTES YOUR CONTINUED AGREEMENT GOING FORWARD TO THE OTHER TERMS FOR YOUR NEW USE AND TRANSACTIONS. Therefore, you should review the posted terms of service and any applicable Additional Terms each time you use the Service (at least prior to each transaction or submission). The Additional Terms will be effective as to new use and transactions as of the time that we post them, or such later date as may be specified in them or in other notice to you. However, the TOS (and any applicable Additional Terms) that applied when you previously used the Service will continue to apply to such prior use (i.e., changes and additions are prospective only) unless mutually agreed. In the event any notice to you of new, revised or Additional Terms is determined by a tribunal to be insufficient, the prior agreement shall continue until sufficient notice to establish a new agreement occurs. You should frequently check the home page, your message account and the email you associated with your account for notices, all of which you agree are reasonable manners of providing you notice. You can reject any new, revised or Additional Terms by discontinuing use of the Service and related services.
</p>
<p>
3. USING THE SERVICE; USER ACCOUNTS
A. Accounts. In order to access or use some (or potentially all) of the features on the Service, you must first register through our online registration process. The Service's practices governing any resulting collection and use of your personal information are disclosed in its Privacy Policy here. If you are under the age of eighteen (18), then you are not permitted to register as a user, create a Profile Page (defined below) or otherwise use the Service or submit personal information to us.
If you register for any feature that requires a password and/or username, then you will select your own password at the time of registration (or we may send you an email notification with a randomly generated initial password) and you agree that: (i) You will not use a username (or email address) that is already being used by someone else, may impersonate another person, belongs to another person, violates the intellectual property or other right of any person or entity, or is offensive. We may reject the use of any password, username, or email address for any other reason in our sole discretion; (ii) You will provide true, accurate, current, and complete registration information about yourself in connection with the registration process and, as permitted, to maintain and update it including on your Profile Page, continuously and promptly to keep it accurate, current, and complete; (iii) You are solely responsible for all activities that occur under your account, password, and username - whether or not you authorized the activity; (iv) You are solely responsible for maintaining the confidentiality of your password and for restricting access to your Device so that others may not access any password protected portion of the Service using your name, username, or password; (v) You will immediately notify us of any unauthorized use of your account, password, or username, or any other breach of security; and (vi) You will not sell, transfer, or assign your account or any account rights.
</p>
<p>
We will not be liable for any loss or damage (of any kind and under any legal theory) to you or any third party arising from your inability or failure for any reason to comply with any of the foregoing obligations.
If any information that you provide, or if we have reasonable grounds to suspect that any information that you provide, is false, inaccurate, outdated, incomplete, or violates these TOS, any Additional Terms, or any applicable law, then we may suspend or terminate your account. We also reserve the more general and broad right to terminate your account or suspend or otherwise deny you access to it or its benefits - all in our sole discretion, for any reason, and without advance notice or liability.
B. Profiles. Your Service account may permit you to create a profile for an individual or business (each a "Profile Page"), which may not include any form of prohibited User Content, as outlined in Section 5(F). Without limiting the foregoing, Profile Pages may not include User Content that you are attempting to sell through the Service, and cannot be used to conduct commercial activities, including, but not limited to, transactions, advertising, fundraising, contests or other promotions absent our prior written consent. We may offer you the ability to set preferences relating to your profile or Service activities, but settings may not become effective immediately or be error free, and options may change from time-to-time. We assume no responsibility or liability for users' Profile material.
</p>
<p>
Profile Pages may only be set up by an authorized representative of the individual or business that is the subject of the Profile Page. We do not review Profile Pages to determine if they were created by an appropriate party, and we are not responsible for any unauthorized Profile Pages that may appear on the Service. If there is any dispute as to whether a Profile Page has been created or is being maintained by an authorized representative of the individual who is the subject of that Profile Page, then we shall have the sole right, but are not obligated, to resolve such dispute as we determine is appropriate in our sole discretion. Such resolution may include, without limitation, deleting or disabling access to Profile Pages, or any portion thereof, at any time without notice.
</p>
<p>
4. SIMPLEWEED CONTENT, OWNERSHIP, LIMITED LICENSE AND RIGHTS OF OTHERS
A. Content. The Service contains a variety of: (i) materials and other items relating to SimpleWeed and its products and services, and similar items from our licensors and other third parties, including all layout, information, articles, posts, text, data, files, images, scripts, designs, graphics, button icons, instructions, illustrations, photographs, audio clips, music, sounds, pictures, videos, advertising copy, URLs, technology, software, interactive features, the "look and feel" of the Service, and the compilation, assembly, and arrangement of the materials of the Service and any and all copyrightable material (including source and object code); (ii) trademarks, logos, trade names, trade dress, service marks, and trade identities of various parties, including those of SimpleWeed (collectively, "Trademarks"); and (iii) other forms of intellectual property (all of the foregoing, collectively "Content").
B. Ownership. The Service (including past, present, and future versions) and the Content are owned or controlled by SimpleWeed and our licensors and certain other third parties. All right, title, and interest in and to the Content available via the Service is the property of SimpleWeed or our licensors or certain other third parties, and is protected by U.S. and international copyright, trademark, trade dress, patent and/or other intellectual property and unfair competition rights and laws to the fullest extent possible. SimpleWeed owns the copyright in the selection, compilation, assembly, arrangement, and enhancement of the Content on the Service.
C. Limited License. Subject to your strict compliance with the TOS and the Additional Terms, SimpleWeed grants you a limited, non-exclusive, revocable, non-assignable, personal, and non-transferable license to: (i) download (temporary storage only), display, view, use, play, and/or print one copy of the Content (excluding source and object code in raw form or otherwise, other than as made available to access and use to enable display and functionality) on a personal computer, mobile phone or other wireless device, or other Internet enabled device (each, a "Device") for your personal, non-commercial use only. The foregoing limited license: (i) does not give you any ownership of, or any other intellectual property interest in, any Content, and (ii) may be immediately suspended or terminated for any reason, in SimpleWeed's sole discretion, and without advance notice or liability.
D. Rights of Others. In using the Service, you must respect the intellectual property and other rights of SimpleWeed and others. Your unauthorized use of Content may violate copyright, trademark, privacy, publicity, communications, and other laws, and any such use may result in your personal liability, including potential criminal liability. SimpleWeed respects the intellectual property rights of others. If you believe that your work has been infringed by means of an improper posting or distribution of it via the Service, then please see Section 6 below.
</p>
<p>
5. USER CONTENT AND COMMUNITY USAGE RULES
A. Your Content. You are responsible for content you post on the Service ("Your Content" or "User Content"); you understand that once published, it may not always be withdrawn. You assume all risks associated with Your Content, including anyone's reliance on its quality, accuracy, or reliability, or any disclosure by you of information in Your Content that makes you personally identifiable. You represent that you own, or have the necessary permissions to use and authorize the use of Your Content as described herein. You may not imply that Your Content is in any way sponsored or endorsed by SimpleWeed.
You understand that you may expose yourself to liability if, for example, Your Content contains material that is false, intentionally misleading, or defamatory; violates any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; contains material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms minors; or violates or advocates the violation of any law or regulation.
B. Using Your Content. We may use Your Content in a number of different ways, including publicly displaying it, reformatting it, incorporating it into advertisements and other works, creating derivative works from it, promoting it, distributing it, and allowing others to do the same in connection with their own websites and media platforms ("Outside Media"). As such, you hereby irrevocably grant us worldwide, perpetual, non-exclusive, royalty-free, assignable, sublicensable, transferable rights to use, copy, record, distribute, reproduce, disclose, sell, re-sell, sublicense (through multiple levels), display, publicly perform, transmit, publish, broadcast, translate Your Content for any purpose and in any manner whatsoever, on or through any means or medium now known or hereafter developed, and with any technology or devices now known or hereafter developed, and to advertise, market, and promote the same. Please note that you also irrevocably grant the users of the Service and any Outside Media the right to access Your Content in connection with their use of the Service and any Outside Media. You irrevocably waive, and cause to be waived, against SimpleWeed and its users any claims and assertions of moral rights or attribution with respect to Your Content. In order to further effect the rights and license that you grant to SimpleWeed to Your Content, you also hereby grant to SimpleWeed, the unconditional, perpetual, irrevocable right to use and exploit your name, persona, and likeness in connection with any of Your Content, without any obligation or remuneration to you. Except as prohibited by law, you hereby waive, and you agree to waive, any moral rights (including attribution and integrity) that you may have in any of Your Content, even if it is altered or changed in a manner not agreeable to you. To the extent not waivable, you irrevocably agree not to exercise such rights (if any) in a manner that interferes with any exercise of the granted rights. You understand that you will not receive any fees, sums, consideration, or remuneration for any of the rights granted in this Section 5(B).
C. Disclaimer of Liability For Content. You understand that SimpleWeed does not control, and is not responsible for, User Content made available through the Service, and that by using the Service, you may be exposed to User Content that is offensive, indecent, inaccurate, misleading, or otherwise objectionable. Furthermore, the Service and User Content available through the Service may contain links to other websites, which are completely independent of SimpleWeed. SimpleWeed makes no representation or warranty as to the accuracy, completeness or authenticity of the information contained in any such site. Your linking to any other websites is at your own risk. You agree that you must evaluate, and bear all risks associated with, the use of any User Content, that you may not rely on said User Content, and that under no circumstances will SimpleWeed be liable in any way for any User Content or for any loss or damage of any kind incurred as a result of the use of any User Content posted, emailed or otherwise made available via the Service. You acknowledge that SimpleWeed does not pre-screen or approve User Content, but that SimpleWeed shall has the right (but not the obligation) in its sole discretion to refuse, delete or move any User Content that is available via the Service, for violating the letter or spirit of the TOS or for any other reason.
User Content (including any that may have been created by users employed or contracted by SimpleWeed) does not necessarily reflect the opinion of SimpleWeed. We reserve the right to remove, screen, edit, or reinstate User Content from time to time at our sole discretion for any reason or no reason, and without notice to you. We have no obligation to retain or provide you with copies of User Content, nor do we guarantee any confidentiality with respect to User Content.
D. Advertising. SimpleWeed and its licensees may publicly display advertisements and other information adjacent to or included with User Content. You are not entitled to any compensation for such advertisements. The manner, mode and extent of such advertising are subject to change without specific notice to you.
E. No Submission of Ideas. In your communications with SimpleWeed, please keep in mind that we do not seek any unsolicited ideas or materials for products or services, or even suggested improvements to products or services, including, without limitation, ideas, concepts, inventions, or designs for music, websites, apps, books, scripts, screenplays, motion pictures, television shows, theatrical productions, software or otherwise (collectively, "Unsolicited Ideas and Materials"). Any Unsolicited Ideas and Materials you post on or send to us via the Service are deemed User Content and licensed to us as set forth below. In addition, SimpleWeed retains all of the rights held by members of the general public with regard to your Unsolicited Ideas and Materials. SimpleWeed’s receipt of your Unsolicited Ideas and Materials is not an admission by SimpleWeed of their novelty, priority, or originality, and it does not impair SimpleWeed's right to contest existing or future intellectual property rights relating to your Unsolicited Ideas and Materials.
F. Community Usage Rules. As a user of the Service, these Community Usage Rules ("Rules") are here to help you understand the conduct that is expected of members of the Service's online communities, including use of personal user/business accounts set up on the Service ("Communities").
(i) Nature of Rules. Your participation in the Communities is subject to all of the TOS, including these Rules:
Your User Content. All of your User Content either must be original with you or you must have all necessary rights in it from third parties in order to permit you to comply with these TOS and any Additional Terms. Your User Content should not contain any visible logos, phrases, or trademarks that belong to third parties. Do not use any User Content that belongs to other people and pass it off as your own; this includes any content that you might have found elsewhere on the Internet. If anyone contributes to your User Content or has any rights to your User Content, or if anyone appears or is referred to in the User Content, then you must also have their permission to submit such User Content to SimpleWeed. (For example, if someone has taken a picture of you and your friend, and you submit that photo to SimpleWeed as your User Content, then you must obtain your friend's and the photographer's permission to do so.)
Speaking of Photos: No Pictures, Videos, or Images of Anyone Other Than You and Your Friends and Family. If you choose to submit photos to the Service, link to embedded videos, or include other images of real people, then make sure they are of you or of you and someone you know - and only if you have their express permission to submit it.
Act Appropriately. All of your Service activities must be venue appropriate, as determined by us. Be respectful of others' opinions and comments so we can continue to build Communities for everyone to enjoy. If you think your User Content might offend someone or be embarrassing to someone, then chances are it probably will, and it doesn't belong on the Service. Cursing, harassing, stalking, insulting comments, personal attacks, gossip, and similar actions are prohibited. Your User Content must not threaten, abuse, or harm others, and it must not include any negative comments that are connected to race, national origin, gender, sexual orientation, or physical handicap. Your User Content must not be defamatory, slanderous, indecent, obscene, pornographic, or sexually explicit.
Do Not Use for Commercial or Political Purposes. Your User Content must not advertise or promote a product or service or other commercial activity (including competitive products/services), or a politician, public servant, or law.
Do Not Use for Inappropriate Purposes. Your User Content must not promote any infringing or other similarly inappropriate activity.
Be Honest and Do Not Misrepresent Yourself or Your User Content. Do not impersonate any other person, user, or company, and do not submit User Content that you believe may be false, fraudulent, deceptive, inaccurate, or misleading, or that misrepresents your identity or affiliation with a person or company.
Others Can See. We hope that you will use the Communities to exchange information and content and have venue appropriate discussions with other members. However, please remember that the Communities are public or semi-public and User Content that you submit on the Service within a Community may be accessible and viewable by other users. Do not submit personally identifying information (e.g., first and last name together, password, phone number, address, credit card number, medical information, email address, or other personally identifiable information or contact information) on Community spaces and take care when disclosing this type of information to others.
Don't Share Other Peoples' Personal Information. Your User Content should not reveal another person's address, phone number, e-mail address, social security number, credit card number, medical information, financial information, or any other information that may be used to track, contact, or impersonate that individual, unless, and in the form and by the method, specifically requested by SimpleWeed.
Don't Damage the Service or Anyone's Computers or Other Devices. Your User Content must not submit viruses, Trojan horses, spyware, or any other technologies or malicious code that could impact the operation of the Service or any computer or other Device.
If you submit User Content that SimpleWeed reasonably believes violates these Rules, then we may take any legally available action that we deem appropriate, in our sole discretion. However, we are not obligated to take any action not required by law. We may require, at any time, proof of the permissions referred to above in a form acceptable to us. Failure to provide such proof may lead to, among other things, the User Content in question being removed from the Service.
(ii) Your Interactions With Other Users; Disputes. You are solely responsible for your interaction with other users of the Service, whether online or offline. We are not responsible or liable for the conduct or content of any user. We reserve the right, but have no obligation, to monitor or become involved in disputes between you and other users. Exercise common sense and your best judgment in your interactions with others (e.g., when you submit any personal or other information) and in all of your other online activities.
(iii) Alerting Us of Violations. If you discover any content that violates the TOS, then you may report it to us via email at info@SimpleWeed.org.
</p>
<p>
6. NOTIFICATION OF CLAIMS OF COPYRIGHT INFRINGEMENT
A. DMCA Notice. SimpleWeed will respond appropriately to notices of alleged copyright infringement that comply with the U.S. Digital Millennium Copyright Act ("DMCA"), as set forth below. If you own a copyright in a work (or represent such a copyright owner) and believe that your (or such owner's) copyright in that work has been infringed by an improper posting or distribution of it via the Service, then you may send us a written notice that includes all of the following:
(i) a legend or subject line that says: "DMCA Copyright Infringement Notice";
(ii) a description of the copyrighted work that you claim has been infringed or, if multiple copyrighted works are covered by a single notification, a representative list of such works;
(iii) a description of where the material that you claim is infringing or is the subject of infringing activity is located that is reasonably sufficient to permit us to locate the material (please include the URL of the Service on which the material appears);
(iv) your full name, address, telephone number, and e-mail address;
(v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law;
(vi) a statement by you, made under penalty of perjury, that all the information in your notice is accurate, and that you are the copyright owner (or, if you are not the copyright owner, then your statement must indicate that you are authorized to act on the behalf of the owner of an exclusive right that is allegedly infringed); and
(vii) your electronic or physical signature.
SimpleWeed will only respond to DMCA Notices that it receives by mail, e-mail, or facsimile at the addresses below:
By Mail: 
Attn: Copyright Department
SimpleWeed, LLC
124 N. Oxford Avenue, # 109
Los Angeles, CA 90004
Fax: _____________

By email: info@SimpleWeed.org
</p>
<p>
It is often difficult to determine if your copyright has been infringed. SimpleWeed may elect to not respond to DMCA Notices that do not substantially comply with all of the foregoing requirements, and SimpleWeed may elect to remove allegedly infringing material that comes to its attention via notices that do not substantially comply with the DMCA.
</p>
<p>
Please note that the DMCA provides that any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.
</p>
<p>
We may send the information that you provide in your notice to the person who provided the allegedly infringing work. That person may elect to send us a DMCA Counter-Notification.
</p>
<p>
Without limiting SimpleWeed's other rights, SimpleWeed may, in appropriate circumstances, terminate a repeat infringer's access to the Service and any other website owned or operated by SimpleWeed.
</p>
<p>
B. Counter-Notification. If access on the Service to a work that you submitted to SimpleWeed is disabled or the work is removed as a result of a DMCA Notice, and if you believe that the disabled access or removal is the result of mistake or misidentification, then you may send us a DMCA Counter-Notification to the addresses above. Your DMCA Counter-Notification should contain the following information:

(i) a legend or subject line that says: "DMCA Counter-Notification";

(ii) a description of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled (please include the URL of the Service from which the material was removed or access to it disabled);

(iii) a statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled;

(iv) your full name, address, telephone number, e-mail address, and the username of your account;

(v) a statement that you consent to the jurisdiction of the Federal District Court for the judicial district in which your address is located (or, if the address is located outside the U.S.A., to the jurisdiction of the United States District Court for the Central District of California), and that you will accept service of process from the person who provided DMCA notification to us or an agent of such person; and

(vi) your electronic or physical signature.

Please note that the DMCA provides that any person who knowingly materially misrepresents that material or activity was removed or disabled by mistake or misidentification may be subject to liability.

If we receive a DMCA Counter-Notification, then we may replace the material that we removed (or stop disabling access to it) in not less than ten (10) and not more than fourteen (14) business days following receipt of the DMCA Counter-Notification. However, we will not do this if we first receive notice at the addresses above that the party who sent us the DMCA Copyright Infringement Notice has filed a lawsuit asking a court for an order restraining the person who provided the material from engaging in infringing activity relating to the material on the Service. You should also be aware that we may forward the Counter-Notification to the party who sent us the DMCA Copyright Infringement Notice.
</p>

<p>
7. THIRD PARTY CONTENT, SITES, AND SERVICES

The Service and Content available through the Service may contain features and functionalities that may link you or provide you with access to third party content which is completely independent of SimpleWeed, including web sites, directories, servers, networks, systems, information and databases, applications, software, programs, products or services, and the Internet as a whole. Your interactions with organizations and/or individuals found on or through the Service, including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such organizations and/or individuals. You agree that SimpleWeed shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings. If there is a dispute between participants on this site, or between users and any third party, you understand and agree that SimpleWeed is under no obligation to become involved. In the event that you have a dispute with one or more other users, you hereby release SimpleWeed, its officers, employees, agents and successors in rights from claims, demands and damages (actual and consequential) of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to such disputes and / or our service. If you are a California resident, you waive California Civil Code Section 1542, which says: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor."
</p>
<p>
8. PAID POSTINGS

We may charge a fee to post Content in some areas of the Service. The fee is an access fee permitting Content to be posted in a designated area. Each party posting Content to the Service is responsible for said Content and compliance with the TOS. All fees paid will be non-refundable in the event that Content is removed from the Service for violating the TOS.
</p>
<p>
9. LIMITATIONS ON SERVICE

You acknowledge that SimpleWeed may establish limits concerning use of the Service, including the maximum number of days that Content will be retained by the Service, the maximum number and size of postings, email messages, or other Content that may be transmitted or stored by the Service, and the frequency with which you may access the Service. You agree that SimpleWeed has no responsibility or liability for the deletion or failure to store any Content maintained or transmitted by the Service. You acknowledge that SimpleWeed reserves the right at any time to modify or discontinue the Service (or any part thereof) with or without notice, and that SimpleWeed shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.
</p>
<p>
10. TERMINATION OF SERVICE

You agree that SimpleWeed, in its sole discretion, has the right (but not the obligation) to delete or deactivate your account, block your email or IP address, or otherwise terminate your access to or use of the Service (or any part thereof), immediately and without notice, and remove and discard any Content within the Service, for any reason, including, without limitation, if SimpleWeed believes that you have acted inconsistently with the letter or spirit of the TOS. Further, you agree that SimpleWeed shall not be liable to you or any third-party for any termination of your access to the Service. Further, you agree not to attempt to use the Service after said termination.

You may terminate the TOS at any time by closing your account, discontinuing your use of the Service, and providing SimpleWeed with a notice of termination.

In the event of any termination of the TOS, whether by you or us, the remaining portions of these TOS remain in full force and effect, including our right to use Your Content.
</p>
<p>
11. RESTRICTIONS ON USE OF SERVICE

We are under no obligation to enforce the TOS on your behalf against another user. While we encourage you to let us know if you believe another user has violated the TOS, we reserve the right to investigate and take appropriate action at our sole discretion.

You agree not to, and will not assist, encourage, or enable others to use the Service to:

Violate our Rules (See Section 5(F)), for example, by writing a fake or defamatory review, trading reviews with other businesses, or compensating someone or being compensated to write or remove a review;

Violate any third party's rights, including any breach of confidence, copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right;

Threaten, stalk, harm, or harass others, or promote bigotry or discrimination;

Promote a business or other commercial venture or event, or otherwise use the Service for commercial purposes, except in connection with a business Profile Page and as expressly permitted by SimpleWeed;

Send bulk emails, surveys, or other mass messaging, whether commercial in nature or not; engage in keyword spamming, or otherwise attempt to manipulate the Service's search results or any third-party website;

Solicit personal information from minors, or submit or transmit pornography; or

Violate any applicable law, including, without limitation, posting User Content that advertises any illegal service or the sale of any items the sale of which is prohibited or restricted by any applicable law, including, without limitation, items the sale of which is prohibited or regulated by California law.

You also agree not to, and will not assist, encourage, or enable others to:

Violate the TOS;

Modify, adapt, appropriate, reproduce, distribute, translate, create derivative works or adaptations of, publicly display, sell, trade, or in any way exploit the Service or Content (other than Your Content), except as expressly authorized by SimpleWeed;

Use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve, scrape, or index any portion of the Service or any Content;

Reverse engineer any portion of the Service;

Remove or modify any copyright, trademark or other proprietary rights notice that appears on any portion of the Service or on any materials printed or copied from the Service;

Record, process, or mine information about other users;

Access, retrieve or index any portion of the Service for purposes of constructing or populating a searchable database of business reviews;

Reformat or frame any portion of the Service;

Take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on SimpleWeed's technology infrastructure or otherwise make excessive traffic demands of the Service;

Attempt to gain unauthorized access to the Service, user accounts, computer systems or networks connected to the Service through hacking, password mining or any other means;

Use the Service or any Content to transmit any computer viruses, worms, defects, Trojan horses or other items of a destructive nature (collectively, "Viruses");

Use any device, software or routine that interferes with the proper working of the Service, or otherwise attempt to interfere with the proper working of the Service;

Use the Service to violate the security of any computer network, crack passwords or security encryption codes; disrupt or interfere with the security of, or otherwise cause harm to, the Service or Content; or

Remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Service, features that prevent or restrict the use or copying of Content, or features that enforce limitations on the use of the Service.

The restrictions above only apply to the extent permissible under applicable law. Nevertheless, you agree not to act contrary to them (even if permissible under applicable law) without providing thirty (30) days' prior written notice to us here, together with any information that we may reasonably require to give us an opportunity to provide alternative remedies or otherwise accommodate you at our sole discretion.
</p>
<p>
12. LINKS BY YOU TO THE SERVICE

We grant you a limited, non-exclusive, revocable, non-assignable, personal, and non-transferable license to create hyperlinks to the Service, so long as: (a) the links only incorporate text, and do not use any Trademarks, (b) the links and the content on your website do not suggest any affiliation with SimpleWeed or cause any other confusion, and (c) the links and the content on your website do not portray SimpleWeed or its products or services in a false, misleading, derogatory, or otherwise offensive matter, and do not contain content that is unlawful, offensive, obscene, lewd, lascivious, filthy, violent, threatening, harassing, or abusive, or that violate any right of any third party or are otherwise objectionable to SimpleWeed. SimpleWeed reserves the right to suspend or prohibit linking to the Service for any reason, in its sole discretion, without advance notice or any liability of any kind to you or any third party.
</p>
<p>
13. DISCLAIMER OF WARRANTIES AND LIMITATIONS OF LIABILITY

THE SERVICE IS MADE AVAILABLE TO YOU ON AN "AS IS", "WITH ALL FAULTS" AND "AS AVAILABLE" BASIS, WITH THE EXPRESS UNDERSTANDING THAT SIMPLEWEED MAY NOT MONITOR, CONTROL, OR VET USER CONTENT. AS SUCH, YOUR USE OF THE SERVICE IS AT YOUR OWN DISCRETION AND RISK. SIMPLEWEED MAKES NO CLAIMS OR PROMISES ABOUT THE QUALITY, ACCURACY, OR RELIABILITY OF THE SERVICE, ITS SAFETY OR SECURITY, OR THE CONTENT. ACCORDINGLY, SIMPLEWEED IS NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE, FOR EXAMPLE, FROM THE SERVICE'S INOPERABILITY, UNAVAILABILITY OR SECURITY VULNERABILITIES OR FROM YOUR RELIANCE ON THE QUALITY, ACCURACY, OR RELIABILITY OF THE BUSINESS LISTINGS, RATINGS, REVIEWS (INCLUDING THEIR CONTENT, ORDER, AND DISPLAY), OR METRICS FOUND ON, USED ON, OR MADE AVAILABLE THROUGH THE SERVICE.

SIMPLEWEED MAKES NO CLAIMS OR PROMISES WITH RESPECT TO ANY THIRD PARTY, SUCH AS THE BUSINESSES OR ADVERTISERS LISTED ON THE SERVICE OR THE SERVICE'S USERS. ACCORDINGLY, SIMPLEWEED IS NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE FROM THEIR ACTIONS OR OMISSIONS, INCLUDING, FOR EXAMPLE, IF ANOTHER USER OR BUSINESS MISUSES YOUR CONTENT, IDENTITY OR PERSONAL INFORMATION, OR IF YOU HAVE A NEGATIVE EXPERIENCE WITH ONE OF THE BUSINESSES OR ADVERTISERS LISTED OR FEATURED ON THE SERVICE. YOUR PURCHASE AND USE OF PRODUCTS OR SERVICES OFFERED BY THIRD PARTIES THROUGH THE SERVICE IS AT YOUR OWN DISCRETION AND RISK.

SIMPLEWEED EXPRESSLY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WARRANTIES AS TO THE PRODUCTS OR SERVICES OFFERED BY BUSINESSES LISTED ON THE SERVICE, AND IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. NO ORAL OR WRITTEN INFORMATION OR ADVICE PROVIDED TO YOU BY A REPRESENTATIVE OF SIMPLEWEED SHALL CREATE A REPRESENTATION OR WARRANTY.

YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE SERVICE, RELATED SERVICES, OR ANY OTHER GRIEVANCE SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF THE SERVICE. SIMPLEWEED'S MAXIMUM AGGREGATE LIABILITY TO YOU FOR LOSSES OR DAMAGES THAT YOU SUFFER IN CONNECTION WITH THE SERVICE OR THE TOS IS LIMITED TO THE GREATER OF (i) THE AMOUNT PAID, IF ANY, BY YOU TO SIMPLEWEED IN CONNECTION WITH THE SERVICE IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, OR (ii) $100.

SIMPLEWEED DISCLAIMS LIABILITY FOR ANY (i) INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL DAMAGES, (ii) LOSS OF PROFITS, (iii) BUSINESS INTERRUPTION, (iv) REPUTATIONAL HARM, OR (v) LOSS OF INFORMATION OR DATA RESULTING FROM ANY ASPECT OF YOUR USE OF THE SIMPLEWEED SITE OR THE SERVICE, WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF THE SIMPLEWEED SITE OR THE SERVICE, FROM INABILITY TO USE THE SIMPLEWEED SITE OR THE SERVICE, OR THE INTERRUPTION, SUSPENSION, MODIFICATION, ALTERATION, OR TERMINATION OF THE SIMPLEWEED SITE OR THE SERVICE. SUCH LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE SIMPLEWEED SITE OR THE SERVICE OR ANY LINKS ON THE SIMPLEWEED SITE, AS WELL AS BY REASON OF ANY INFORMATION OR ADVICE RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE SIMPLEWEED SITE OR THE SERVICE OR ANY LINKS ON THE SIMPLEWEED SITE OR SERVICE. THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW. In some jurisdictions, limitations of liability are not permitted. In such jurisdictions, some of the foregoing limitation may not apply to you.

ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMITTED BY LAW. TO THE FULLEST EXTENT PERMITTED BY LAW, SIMPLEWEED DISCLAIMS ANY WARRANTIES FOR THE SECURITY, RELIABILITY, TIMELINESS, ACCURACY, AND PERFORMANCE OF THE SIMPLEWEED SITE AND THE SERVICE. TO THE FULLEST EXTENT PERMITTED BY LAW, SIMPLEWEED DISCLAIMS ANY WARRANTIES FOR OTHER SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE SIMPLEWEED SITE OR SERVICE, OR ACCESSED THROUGH ANY LINKS ON THE SIMPLEWEED SITE AND SERVICE. TO THE FULLEST EXTENT PERMITTED BY LAW, SIMPLEWEED DISCLAIMS ANY WARRANTIES FOR VIRUSES OR OTHER HARMFUL COMPONENTS IN CONNECTION WITH THE SIMPLEWEED SITE OR THE SERVICE. Some jurisdictions do not allow the disclaimer of implied warranties. In such jurisdictions, some of the foregoing disclaimers may not apply to you insofar as they relate to implied warranties.
</p>
<p>
14. NOTICES, QUESTIONS AND CUSTOMER SERVICE

You agree that: (1) we may give you notices of new, revised or changed terms and other important matters by prominently posting notice on the home page of the Service, or in another reasonable manner; and (2) we may contact you by mail or email sent to the address provided by you. You agree to promptly notify us if you change your email or mailing address by updating your Profile Settings. If you have a question regarding using the Service, you may contact SimpleWeed Customer Support by sending an email to info@SimpleWeed.org or calling our number at (___)___-____. You acknowledge that the provision of customer support is at SimpleWeed's sole discretion and that we have no obligation to provide you with customer support of any kind.
</p>
<p>
15. MOBILE

Without limiting any other provisions of the TOS, this section is specific to the use of SimpleWeed downloadable software application(s) (the "Application"), if any.

You may choose to download solely for your personal use the Application onto your mobile or wireless device or platform. You may not use the Application on any mobile device that you do not own or control. Except for use expressly permitted in this Agreement, you may not make other use of any content available through the Application without express written consent. You will not modify, publish, transmit, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or part, found on this Application. You will not make any changes to any content that you are permitted to download under this Agreement, and in particular that by downloading the Application you are granted a license to use, but do not otherwise acquire any ownership rights in, the downloaded content.

We may automatically check the version of the Application on our mobile device and, if applicable, provide updates for the Application (the "Updates"). Updates may include, but are not limited to bug fixes, patches, enhanced functionality, plug-ins, and new versions of the Application. By installing the Application, you authorize the automatic download and installation of Updates and agree to download and install Updates manually as requested from time to time.

We have the right to disable or permanently discontinue any and all functionality of the Application at any time without notice and with no liability to you.

If you are accessing or using the Service through an Apple Device, the following additional terms and conditions are applicable to you and are incorporated into the TOS by this reference:

(i) To the extent that you are accessing the Service through an Apple Device, you acknowledge that the TOS are entered into between you and SimpleWeed and that Apple, Inc. ("Apple") is not a party to the TOS other than as third-party beneficiary as contemplated below.

(ii) The license granted to you in the TOS to use the Application and the Service is subject to the permitted Usage Rules set forth in the App Store Terms of Service (see: http://www.apple.com/legal/itunes/us/terms.html) and any third party terms of agreement applicable to the Service.

(iii) You acknowledge that SimpleWeed, and not Apple, is responsible for providing the Service and Content thereof.

(iv) You acknowledge that Apple has no obligation whatsoever to furnish any maintenance or any support services to you with respect to the Service.

(v) To the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the Service.

(vi) Notwithstanding anything to the contrary herein, and subject to the terms in the TOS, you acknowledge that, solely as between Apple and SimpleWeed, SimpleWeed (and not Apple) is responsible for addressing any claims you may have relating to the Service, or your possession and/or use thereof, including, but not limited, to: (i) product liability claims; (ii) any claim that the Service fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.

(vii) Further, you agree that if the Service, or your possession and use of the Service, infringes on a third party's intellectual property rights, you will not hold Apple responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claims.

(viii) You acknowledge and agree that Apple, and Apple's subsidiaries, are third-party beneficiaries of the TOS, and that, upon your acceptance of the terms and conditions of the TOS, Apple will have the right (and will be deemed to have accepted the right) to enforce the TOS against you as a third-party beneficiary thereof.

(ix) When using the Service, you agree to comply with any and all third-party terms that are applicable to any platform, website, technology or service that interacts with the Service.
</p>
<p>
16. FEEDBACK

By sending us any ideas, suggestions, documents or proposals ("Feedback"), you agree that: (i) your Feedback does not contain the confidential or proprietary information of third parties, (ii) we are under no obligation of confidentiality, express or implied, with respect to the Feedback, (iii) we may have something similar to the Feedback already under consideration or in development, and (iv) you grant us an irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to use, modify, prepare derivative works of, publish, distribute and sublicense the Feedback, and you irrevocably waive, and cause to be waived, against SimpleWeed and its users any claims and assertions of any moral rights contained in such Feedback.
</p>
<p>
17. INDEMNITY

You agree to, and you hereby, defend, indemnify, and hold SimpleWeed harmless from and against any and all claims, damages, losses, costs, investigations, liabilities, judgments, fines, penalties, settlements, interest, and expenses (including attorneys' fees) that directly or indirectly arise from or are related to any claim, suit, action, demand, or proceeding made or brought against SimpleWeed, or on account of the investigation, defense, or settlement thereof, arising out of or in connection with, whether occurring heretofore or hereafter: (i) your Use Content; (ii) your use of the Service and your activities in connection with the Service; (iii) your breach or alleged breach of the TOS or any Additional Terms; (iv) your violation or alleged violation of any laws, rules, regulations, codes, statutes, ordinances, or orders of any governmental or quasi-governmental authorities in connection with your use of the Service or your activities in connection with the Service; (v) information or material transmitted through your Device, even if not submitted by you, that infringes, violates, or misappropriates any copyright, trademark, trade secret, trade dress, patent, publicity, privacy, or other right of any person or entity; (vi) any misrepresentation made by you; and (vii) SimpleWeed's use of the information that you submit to us (including your User Content) (all of the foregoing, "Claims and Losses"). You will cooperate as fully required by SimpleWeed in the defense of any Claim and Losses. Notwithstanding the foregoing, SimpleWeed shall retain the exclusive right to settle, compromise, and pay any and all Claims and Losses. SimpleWeed reserve the right to assume the exclusive defense and control of any Claims and Losses. You will not settle any Claims and Losses without, in each instance, the prior written consent of an officer of SimpleWeed.
</p>
<p>
18. DISPUTE RESOLUTION

Certain portions of this Section 18 are deemed to be a "written agreement to arbitrate" pursuant to the Federal Arbitration Act. You and SimpleWeed agree that we intend that this Section 18 satisfies the "writing" requirement of the Federal Arbitration Act. This Section 18 can only be amended by mutual agreement.
</p>
<p>
A. First - Try to Resolve Disputes and Excluded Disputes. If any controversy, allegation, or claim arises out of or relates to the Service, the Content, your User Content, these TOS, or any Additional Terms, whether heretofore or hereafter arising (collectively, "Dispute"), or to any of SimpleWeed's actual or alleged intellectual property rights (an "Excluded Dispute", which includes those actions set forth in Section 18(D)), then you and we agree to send a written notice to the other providing a reasonable description of the Dispute or Excluded Dispute, along with a proposed resolution of it. Our notice to you will be sent to you based on the most recent contact information that you provide us. But if no such contact information exists or if such information is not current, then we have no obligation under this Section 18(A). Your notice to us must be sent to: SimpleWeed, LLC, 124 N. Oxford Avenue, #109, Los Angeles, CA 90004 (Attn: Dispute Resolution). For a period of sixty (60) days from the date of receipt of notice from the other party, SimpleWeed and you will engage in a dialogue in order to attempt to resolve the Dispute or Excluded Dispute, though nothing will require either you or SimpleWeed to resolve the Dispute or Excluded Dispute on terms with respect to which you and SimpleWeed, in each of our sole discretion, are not comfortable.
</p>
<p>
B. Binding Arbitration. If we cannot resolve a Dispute as set forth in Section 18(A) (or agree to arbitration in writing with respect to an Excluded Dispute) within sixty (60) days of receipt of the notice, then ANY AND ALL DISPUTES ARISING BETWEEN YOU AND SIMPLEWEED MUST BE RESOLVED BY FINAL AND BINDING ARBITRATION. THIS INCLUDES ANY AND ALL DISPUTES BASED ON ANY PRODUCT, SERVICE OR ADVERTISING CONNECTED TO THE PROVISION OR USE OF THE SERVICE (WHETHER BASED IN CONTRACT, STATUTE, REGULATION, ORDINANCE, TORT - INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, FRAUD, ANY OTHER INTENTIONAL TORT OR COMMON LAW, CONSTITUTIONAL PROVISION, RESPONDEAT SUPERIOR, AGENCY OR ANY OTHER LEGAL OR EQUITABLE THEORY - AND WHETHER ARISING BEFORE OR AFTER THE EFFECTIVE DATE OF THE TOS. The Federal Arbitration Act ("FAA") shall govern the arbitrability of all disputes between SimpleWeed and you regarding the TOS (and any Additional Terms) and the Service, including the No Class Action Matters section below. BY AGREEING TO ARBITRATE, EACH PARTY IS GIVING UP ITS RIGHT TO GO TO COURT AND HAVE ANY DISPUTE HEARD BY A JUDGE OR JURY. SimpleWeed and you agree, however, that California or federal law shall apply to and govern, as appropriate, any and all claims or causes of action, remedies, and damages arising between you and SimpleWeed regarding these TOS and the Service, whether arising or stated in contract, statute, common law, or any other legal theory, without regard to California's choice of law principles.
</p>
<p>
A Dispute will be resolved solely by binding arbitration in accordance with the then-current Commercial Arbitration Rules of the American Arbitration Association ("AAA"), except as modified herein, and in accordance with the AAA's Supplementary Procedures for Consumer Related Disputes. The arbitration will be administered by the AAA. If an in-person arbitration hearing is required, then it will be conducted in the "metropolitan statistical area" (as defined by the U.S. Census Bureau) where you are a resident at the time the Dispute is submitted to arbitration. You and we will pay the administrative and arbitrator's fees and other costs in accordance with the applicable arbitration rules; but if applicable arbitration rules or laws require SimpleWeed to pay a greater portion or all of such fees and costs in order for this Section 18 to be enforceable, then SimpleWeed will have the right to elect to pay the fees and costs and proceed to arbitration. The arbitrator will apply and be bound by the TOS and any Additional Terms, and will determine any Dispute according to applicable law and facts based upon the record and no other basis, and will issue a reasoned award only in favor of the individual party seeking relief and only to the extent to provide relief warranted by that party's individual claim. Issues relating to the enforceability of the arbitration and class action waiver provisions contained herein are for the court to decide. This arbitration provision shall survive termination of these TOS or the Service. You can obtain AAA procedures, rules, and fee information as follows: 800.778.7879 and http://www.adr.org.
</p>
<p>
C. Limited Time to File Claims. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IF YOU OR WE WANT TO ASSERT A DISPUTE (BUT NOT AN EXCLUDED DISPUTE) AGAINST THE OTHER, THEN YOU OR WE MUST COMMENCE IT (BY DELIVERY OF WRITTEN NOTICE AS SET FORTH IN SECTION 18(A)) WITHIN ONE (1) YEAR AFTER THE DISPUTE ARISES -- OR IT WILL BE FOREVER BARRED. Commencing means, as applicable: (a) by delivery of written notice as set forth above in Section 18(A); (b) filing for arbitration with the AAA as set forth in Section 18(B); or (c) filing an action in state or Federal court. The parties expressly waive any contrary statute of limitations or time bars, both legal and equitable, to the Disputes.
</p>
<p>
D. Injunctive Relief. The foregoing provisions of this Section 18 will not apply to any legal action taken by SimpleWeed to seek an injunction or other equitable relief in connection with, any loss, cost, or damage (or any potential loss, cost, or damage) relating to the Service, any Content, your User Content and/or SimpleWeed's intellectual property rights (including such rights that SimpleWeed may claim that be in dispute), SimpleWeed's operations, and/or SimpleWeed's products or services.
</p>
<p>
E. No Class Action Matters. YOU AND SIMPLEWEED AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING OR AS AN ASSOCIATION. Disputes will be arbitrated only on an individual basis and will not be joined or consolidated with any other arbitrations or other proceedings that involve any claim or controversy of any other party. There shall be no right or authority for any Dispute to be arbitrated on a class action basis or on any basis involving Disputes brought in a purported representative capacity on behalf of the general public, or other persons or entities similarly situated. But if, for any reason, any court with competent jurisdiction holds that this restriction is unconscionable or unenforceable, then our agreement in Section 18(B) to arbitrate will not apply and the Dispute must be brought exclusively in court pursuant to Section 18(F). Notwithstanding any other provision of this Section 18, any and all issues relating to the scope, interpretation and enforceability of the class action waiver provisions contained herein (described in this "No Class Action Matters" section), are to be decided only by a court of competent jurisdiction, and not by the arbitrator. The arbitrator does not have the power to vary these class action waiver provisions.
</p>
<p>
F. Small Claims Matters Are Excluded From Arbitration Requirement. Notwithstanding the foregoing, either of us may bring qualifying claim(s) of Disputes (but not Excluded Disputes) in small claims court of competent jurisdiction.
</p>
<p>
G. Federal and State Courts in Los Angeles County, California. Except where arbitration is required as above, small claims actions, or with respect to the enforcement of any arbitration decision or award, any action or proceeding relating to any Dispute or Excluded Dispute arising hereunder may only be instituted in state or Federal court in Los Angeles County, California. Accordingly, you and SimpleWeed consent to the exclusive personal jurisdiction and venue of such courts for such matters.
</p>
<p>
H. Applicable Law. The TOS and any Additional Terms will be governed by and construed in accordance with, and any Dispute and Excluded Dispute will be resolved in accordance with, the laws of the state of California, without regard to its conflicts of law provisions.
</p>
<p>
19. GENERAL TERMS

The TOS constitute the entire agreement between you and SimpleWeed and govern your use of the Service, superseding any prior agreements between you and SimpleWeed.
</p>
<p>
SimpleWeed reserves the right, without any limitation, to: (i) investigate any suspected breaches of its Service security or its information technology or other systems or networks, (ii) investigate any suspected breaches of the TOS and any Additional Terms, (iii) investigate any information obtained by SimpleWeed in connection with reviewing law enforcement databases or complying with criminal laws, (iv) involve and cooperate with law enforcement authorities in investigating any of the foregoing matters, (v) prosecute violators of the TOS and any Additional Terms, and (vi) discontinue the Service, in whole or in part, or, except as may be expressly set forth in any Additional Terms, suspend or terminate your access to it, in whole or in part, including any user accounts or registrations, at any time, without notice, for any reason and without any obligation to you or any third party. Any suspension or termination will not affect your obligations to SimpleWeed under the TOS or any Additional Terms. Upon suspension or termination of your access to the Service, or upon notice from SimpleWeed, all rights granted to you under the TOS or any Additional Terms will cease immediately, and you agree that you will immediately discontinue use of the Service. The provisions of the TOS and any Additional Terms, which by their nature should survive your suspension or termination will survive, including the rights and licenses you grant to SimpleWeed in the TOS, as well as the indemnities, releases, disclaimers, and limitations on liability and the provisions regarding jurisdiction, choice of law, no class action, and mandatory arbitration.
</p>
<p>
The failure of SimpleWeed to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision. If any provision of the TOS is found by an arbitrator to be invalid, the parties nevertheless agree that the arbitrator should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the TOS remain in full force and effect.
</p>
<p>
We reserve the right to modify, update, or discontinue the Service at our sole discretion, at any time, for any or no reason, and without notice or liability.
</p>
<p>
We may provide you with notices, including those regarding changes to the TOS by email, regular mail or communications through the Service.
</p>
<p>
Nothing herein is intended, nor will be deemed, to confer rights or remedies upon any third party.
</p>
<p>
The TOS contain the entire agreement between you and us regarding the use of the Service, and supersede any prior agreement between you and us on such subject matter. The parties acknowledge that no reliance is placed on any representation made but not expressly contained in the TOS.
</p>
<p>
Any failure on SimpleWeed's part to exercise or enforce any right or provision of the TOS does not constitute a waiver of such right or provision. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.
</p>
<p>
If any provision of the TOS is found to be unenforceable or invalid, then only that provision shall be modified to reflect the parties' intention or eliminated to the minimum extent necessary so that the TOS shall otherwise remain in full force and effect and enforceable.
</p>
<p>
The TOS, and any rights or obligations hereunder, are not assignable, transferable or sub-licensable by you except with SimpleWeed's prior written consent, but may be assigned or transferred by us without restriction. Any attempted assignment by you shall violate the TOS and be void.
</p>
<p>
The section titles in the TOS are for convenience only and have no legal or contractual effect.
</p>
<p>
If any provision of the TOS is deemed unlawful, invalid, or unenforceable, by a judicial court for any reason, then that provision shall be deemed severed from the TOS, and the remainder of the terms shall continue in full force and effect.
</p>
</div>