<% if activity.trackable %>

<table class="feed-item-table">
	<tr>
		<td class = "feed-item-avatar" valign = "top">
			<span class="glyphicon glyphicon-user user-pic-feed-item"></span>
		</td>
		<td>
			<div class="item-feed-title"><a><%= activity.trackable.user.username %></a> commented on <a><%= activity.trackable.store_item_review.store_item.name %></a>
			</div>
			<div class = "feed-item-body">
				<%= activity.trackable.comment %>
			</div>

		</td>
	</tr>
</table>
<% end %>