<% if activity.trackable %>

<div class = "feed-item-user-following-user">
	<table class="feed-item-table">
		<tr>
			<td valign = "top">
				<span class="feed-item-icon-container">
					<%= render partial: 'profile/profile_image', locals: {user: activity.owner} %>
				</span>
			</td>
			<td class="feed-item-title-and-body">
				<div class="item-feed-title">					
					<%= link_to activity.owner.username , activity_profile_path(activity.owner), :class => 'user-link', 'data-no-turbolink' => true %>							
					<span> is following </span>					
					<%= link_to activity.trackable.username , activity_profile_path(activity.trackable), :class => 'user-link', 'data-no-turbolink' => true %>							
					
					<div class="time-ago-feed-item"><%= time_ago_in_words(activity.trackable.updated_at) %> ago</div>
				</div>
				<div class = "feed-item-body">
					
				</div>

			</td>
		</tr>
	</table>
</div>
<% end %>