/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

#loading-indicator {
	z-index:1000;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/** override bootstrap rounded navbar corners **/
.navbar {
	border-radius : 0px !important;
	/** fix the header size.  Make it fixed so that if we remove elements (like search on the homepage) the logo doesn't get cut off **/
	height: 77px !important;
}

.navbar-form {
	line-height: 60px !important;
}

.navbar-inverse {
	border-style: none !important;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px !important;
    height: 60px !important;
    padding-top: 0 !important;
}

/** needed for navbar-fixed-top to work, otherwise page content is covered by nav **/
#main-container {	
	min-height: 100%;
	margin-top: 70px;
}

.simple-weed-logo {
	/*background-image: url(simpleweed_h_rgb.png);*/
	/*background-size:200px ;*/

}

.lowercase {
	text-transform:lowercase;
}

#show-search-filters {
	color:white;
	background-color: transparent;
}

#search-filter-options
{
	/*background-color:#222222;*/
	/*height: 150px;*/
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-style: none;
	display:none;
  width:795px;
}


/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;  
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;  
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
    background-color: gray;
	color: white;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
  background-color: #222222;
  color: white;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
  background-color: #222222;
  color: white;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

#search-filter-options > .tab-content {
	background-color: #222222;
	color: white;
}

#search-filter-options .tab-content .tab-pane {
	/**height: 158px; **/
  height: 390px;
	background-color:#222222;
	color:white;
	padding: 10px;
}

.item-search-custom-price {
  width: 50px;
}

.search-top-spacer {  
  margin-bottom: 27px;
}

.search-opts-extra-label {
  margin-left:17px;
}