/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

#loading-indicator {
	z-index:1000;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/** override bootstrap rounded navbar corners **/
.navbar {
	border-radius : 0px !important;
	/** fix the header size.  Make it fixed so that if we remove elements (like search on the homepage) the logo doesn't get cut off **/
	height: 77px !important;
}

.navbar-form {
	line-height: 60px !important;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px !important;
    height: 60px !important;
    padding-top: 0 !important;
}

/** needed for navbar-fixed-top to work, otherwise page content is covered by nav **/
#main-container {	
	min-height: 100%;
	margin-top: 70px;
}

.simple-weed-logo {
	/*background-image: url(simpleweed_h_rgb.png);*/
	/*background-size:200px ;*/

}

.lowercase {
	text-transform:lowercase;
}

#show-search-filters {
	color:white;
	background-color: transparent;
}