// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#feed-post-tab-content {
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	padding: 10px;
	margin-bottom: 10px;
}

.post-title {
	font-size: 16px;
}

.post {
	
	padding-bottom: 10px;
}

.post-user-actions {
	margin: 0;
	padding: 0;
}

.post-user-actions li {
	list-style-type: none;
	display: inline;
	margin-right: 10px;
	color: gray;
}

.post-user-actions li a {
	color: gray;	
}

.post-time-ago {
	color: gray;
}