// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#feed-post-tab-content {
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	padding: 10px;
	margin-bottom: 10px;
}

#add-new-post-button {
	margin-top: 12px;
	margin-right: 3px;
}

.feed-review-container {
	padding-right: 30px;
}

.feed-headers {
	font-size: 36px;
	font-weight: 200;
}

.post-title {
	font-size: 20px;
	font-weight: 500;
}

.post {	
	padding-bottom: 10px;
}

#feed-top-nav a {
	color: black;
	font-weight: 800;
	font-size: 18px;
}

#feed-top-nav-container {
	padding-top: 12px;
	background-color: rgb(241, 241, 241);
}

#feed-top-nav {
	margin-left: 10px;
	padding-left: 0px;		
	margin-top: 10px;	
}

#feed-top-nav li {
	list-style-type: none;
	margin: 10px 0 10px 5px;
}

.post-user-actions {
	margin: 0;
	padding: 0;
}

.post-user-actions li {
	list-style-type: none;
	display: inline;
	margin-right: 10px;
	color: gray;
}

.post-user-actions li a {
	color: gray;	
}

.post-time-ago {
	color: gray;
}

.new-feed-post-comment-input {
	width: 85% !important;
	display: inline !important;
}

.save-new-feed-post-comment  {
	float: right !important;
	display:inline !important; 
}

.feed-post-comment 	{
	background-color: rgb(247, 249, 250);
	margin: 1px;
	padding-left: 10px;
	padding-top: 2px;
}

.feed-post-comments {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.post-snippet-on-feed {
	width: 100%;
}

.vote-controls-post-snippet {
	width: 7%;
}