// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.username {
	font-weight:bold;
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 12px;
	margin-left:4px;
}

.edit-profile-link {
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 12px;
	margin-left:4px;
}

.user-pic {
	font-size: 40px;
}

.activity {
	
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin-bottom : 10px;
	padding: 12px;
	background: white;
	border-bottom: 2px solid #eee!important
}

.user-pic-feed-item {
	font-size: 30px;
	margin-right: 25px;
	color: #5cb85c;
	border-color: #4cae4c;
	border: 2px solid;
	width: 40px !important;
	padding : 3px;
	border-radius : 8px;
}

.item-feed-title {
	line-height: 14px;
	font-size:14px;
}

.feed-item-body {
	margin-top:5px;
}

.follow-store-button {
	margin-right: 5px;
}

.follow-user-button {
	color: white !important;
	margin-right: 5px;
}

.follow-user-star {
	color: white !important;	
}

#profile-nav {
	margin-top: 12px;
}

.feed-item-glyphicon {
	font-size: 30px;
	margin-right : 25px;
	color: #f0ad4e;
	border-color: #eea236;
	border: 2px solid;
	width: 40px !important;
	padding : 3px;
	border-radius : 8px;
}

.time-ago-feed-item {
	color: gray;
	float: right !important;
	font-size : 10px;
}

.feed-item-title-and-body {
	width: 100%;
}
