// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-search-result-container {
	width: 66%;
	padding: 10px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-color: rgb(231, 231, 231);
}


.item-search-result-image {
	width: 90px;
	height : 90px;
	float:left;
	margin-right: 10px;
}

.item-search-user-logo {
	 font-size: 2.2em;
}

.image-and-meta-container {
	min-height: 100px;
}

.image-td {
	padding-right:20px;	
	border-right: 1px solid;
	border-color: lightgray;
}

.item-search-item-name {
	margin-top: 0 !important;
}

.item-search-result-meta {
	width: 100%;
	padding-left: 20px;
}

.item-search-item-description {
	margin-top:5px;
	font-style:italic;
	color: gray;
}

.highlight {
	background-color: #FFFF00;
}

.search-inputs {
	width : 160px !important;
	background-color: rgb(241, 241, 241);
}

#item-search-results-map {
	width: 350px;
	height: 350px;	
}

.search-items-map {
	position: fixed !important;
	top: 100px;
	left: 66%;
}

.search-items-map-mobile {
	display:none;
}


/** grouped page **/
//make smaller on grouped page
.item-search-result-image-grouped {
	width: 50px;
	height : 50px;
	float:left;
	margin-right: 10px;	
}

.item-search-result-container-grouped {
	width: 66%;
	padding: 10px;
	
	margin-left: 30px;
	
}

.item-search-result-store-logo-grouped {
	width: 90px;
	height : 90px;
	float:left;
	margin-right: 10px;	
}

.grouped-search-store-container {
	
	margin-bottom:25px;
	width:740px;
}

//toggle group search button in nav
#group-search-results {
	background : white;
	color: black;
}

.search-option-radio {
	height:15px;
	margin:10px;
	line-height: normal
}

.infobox-wrapper {
    display:none;
}
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

.search-item-hover-focus {
	border:2px solid #eea236;
	
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}

.search-results-item-price-table {
	width : 50% !important;
	table-layout: fixed; 
}

.search-results-item-price-table th {	
	padding: 10px;
	color:black;
	font-weight: 400;
}

.search-results-item-price-table td {	
	padding: 10px;
	color:black;
	font-weight: 400;
}

.price-table-price-row {
	border-bottom: 1px solid;
	color: lightgray;
}

.price-table-header-row {
	background-color: rgb(240, 240, 240);
	border: solid 1px;
	border-color: lightgray;
}
.item-search-item-name-main-page {
	color: black;
	font-weight: 100;
}

.item-search-item-name {
}

.search-result-item-promo {
	font-style: italic;
	color: gray;
}

.search-item-results-meta-table {
	margin-top: 10px;
	width: 50%	;
	vertical-align: top;
}

.item-results-field-type {
	font-weight : 700;
}

