// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-search-result-container {
	width: 700px;
	padding: 10px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-color: rgb(231, 231, 231);
}


.item-search-result-image {
	width: 90px;
	height : 90px;
	float:left;
	margin-right: 10px;
}

.item-search-user-logo {
	 font-size: 2.2em;
}

.image-and-meta-container {
	min-height: 100px;
}

.image-td {
	
}

.item-search-item-name {
	margin-top: 0 !important;
}

.item-search-result-meta {
	width: 100%;
}

.item-search-item-description {
	margin-top:5px;
	font-style:italic;
	color: gray;
}

.highlight {
	background-color: #FFFF00;
}

.search-inputs {
	width : 160px !important;
}

#item-search-results-map {
	width: 400px;
	height: 400px;
	position: fixed !important;
	top: 70px;
	left: 960px;
}




/** grouped page **/
//make smaller on grouped page
.item-search-result-image-grouped {
	width: 50px;
	height : 50px;
	float:left;
	margin-right: 10px;	
}

.item-search-result-container-grouped {
	width: 700px;
	padding: 10px;
	
	margin-left: 30px;
	
}

.item-search-result-store-logo-grouped {
	width: 90px;
	height : 90px;
	float:left;
	margin-right: 10px;	
}

.grouped-search-store-container {
	
	margin-bottom:25px;
	width:740px;
}

//toggle group search button in nav
#group-search-results {
	background : #222222;
	color: white;
}

.search-option-radio {
	height:15px;
	margin:10px;
	line-height: normal
}