// Place all the styles related to the storeitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thc-percent {
	width: 50px;
}

#cbd-percent {
	width: 50px;
}

#cbn-percent {
	width: 50px;
}

#lab-information {
	width: 40%;
}

.form-control .price-inputs {
	width: 68px;
}

#dogo {
	margin-top: 10px;
}

#edit-store-items-cultivation-section {
	width: 70%;
}

#item-popup-store-details {
	width :100%;
}

#item-popup-store-details .store-info {
	width : 50%;
}

.store-item-picture-and-meta-container {
	width: 100%;
	margin-bottom: 10px;
}

.item-image-menu-edit {
	margin-bottom: 10px;
}

.item-image {
	width:20%;
}

.item-img-td {
	padding-right:10px;	
}

.item-menu-edit {
	color: white;
	background-color: #5EA35B;
	margin: 0;
	padding:12px;
	margin-top:20px;
}

.archived-item-menu-edit {
	color: white;
	background-color: #d9534f;
	margin: 0;
	padding:12px;
	margin-top:20px;
}

.store-header-icons-item-modal {
	margin-bottom:4px;
	color: black;
	margin-left:5px;
	bottom: 6px;
}

.store-header-icons-item-modal:hover {
	color:#229622;
}	

#store-header-on-item-modal {
	margin-bottom: 15px;
}

.store-description-on-modal {
	background-color: #EEF8EC;
	margin: 1px;
	padding-left: 10px;
	padding-top: 2px;
}

.web-phone-email-icons {	
	color: black;
}

.search-results-store-badges {
	margin-top:10px;
}

.search-results-item-badges {
	margin-top:10px;
}

.search-result-item-category-strain-meta {
	margin-top:5px;
	color:gray;
}

.item-modal {
	margin-bottom: 10px;
}

.item-popup-item-name {
	font-size: 34px;
	font-weight: 100;
}

.item-tab-content-container {
	padding:20px;
}

.item-popup-tab-nav-container {
	background-color: #f0f0f0;
	padding-top: 10px;
	padding-left: 5px;
	border-radius:                    3px;
  	-webkit-border-radius:            3px;
  	-moz-border-radius:               3px;
}