// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.store-image {
	float:left;
}

.star-rank {
	display:inline;
}

.reviews-link {
	display:inline;
	margin-left: 20px;
}

#addressline1 {
	margin-top: 15px;
}

.write-review-button {
	display:inline;
	margin-left : 269px; 
}

#gmap_canvas {
	margin-top: 123px;
	margin-bottom: 20px;
	float:right;
	height:450px;
	width:350px;	
}

#description {
	margin-top: 15px;
}

#dailyspecials {
	width: 100%;
}

#dispensaryfeatures {
	width: 100%;
}

.store-item-table {
	width: 100%;
}