// Place all the styles related to the StoreReviewComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-review-comments {
	margin-left : 40px;	
}

.store-review-comment {
	background-color: rgb(247, 249, 250);
	margin: 2px;
}