// Place all the styles related to the storeitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thc-percent {
	width: 50px;
}

#cbd-percent {
	width: 50px;
}

#cbn-percent {
	width: 50px;
}

#lab-information {
	width: 40%;
}

.form-control .price-inputs {
	width: 68px;
}

#dogo {
	margin-top: 10px;
}