// Place all the styles related to the StoreReviewComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-review-comments {
	
}

.store-review-comment {
	background-color: rgb(247, 249, 250);
	margin: 1px;
	padding-left: 10px;
	padding-top: 2px;
}

.new-store-review-comment-form {
	
	margin-top: 4px;
	margin-bottom: 15px;
}

/** button **/
.save-new-store-review-comment {
	margin-top:2px;	
}

.store-review-comment-ago {
	color: #999999;
	font-size: 75%;
}

.new-comment-input {
	width: 80% !important;
	display: inline !important;
}

#login-to-comment-on-item-review {
	margin-left: 50px;
	margin-top: 2px;	
}

.owner-store-review-comment {
	/**background-color: #FFC879 !important;**/
	background-color: #FCDAA9 !important;
	
}

.owner-badge {
	background-color: #FAC575 !important;
}