// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.store-image {
	float:left;
}

.star-rank {
	display:inline;
}

.reviews-link {
	display:inline;
	margin-left: 20px;
}

#addressline1 {
	margin-top: 15px;
}

.write-review-button {
	float:right;
}

#gmap_canvas {
	margin-top: 123px;
	margin-bottom: 20px;
	float:right;
	height:450px;
	width:350px;	
}

#description {
	margin-top: 15px;
}

#dailyspecials {
	width: 100%;
}

#dispensaryfeatures {
	width: 100%;
}

.store-item-table {
	width: 100%;
}

#storehours {
	width: 100%;
}

#review-controls {
	margin-bottom: 25px;
}

.red {
	color : #c41200;
	font-weight : bold;
}

.green {
	color : #2f8e2f;
	font-weight : bold;
}

.day {
	font-weight : bold;
}

.simple-weed-google-table-header {
	background: white;
}

.simple-weed-google-table-header-cell {
	
}

/** overrides for "//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" **/
.ui-accordion .ui-accordion-content {
	padding:0 !important;
	border: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	//background : white !important;
	background : rgb(238, 244, 250) !important;
	border: none !important;
}