// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height:100%;
}
body {
	height:100%;
	margin: 0px; 
	padding: 0px
}


.welcome-header {
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	width: 800px;
	margin:0 auto;
	
	position:relative;
	top: 300px;
	

}

.welcome-h1 {
	font-size:76px;
	font-weight: 400;
}

.welcome-paragraph {
	color: #fff	;
	width: 800px;
	margin:0 auto;
	position:relative;
	top: 300px;
}

.home-page-image {
	
}


#section0 {
	background-image: url(asset-path('welcomepage.jpg'));
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	opacity: 0.9;
}

#section1 {
	background-color: gray;	
}

.section {
	text-align:center;
}


#take-tour-button {
	position: relative;
	top: 320px;
}

.homepage-spacer {
	height: 70px;
}