// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height:100%;
}
body {
	height:100%;
	margin: 0px; 
	padding: 0px
}
#homepage-map {
	 width: 100%; 
	 height: 100%; 	
}

#home-page-search-container {
	display:inline;
	background-color: white;
	z-index:1000;

	/** center it **/  
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

/** have to add margin on this page, b/c it doesn't have the normal app layout and the header will cover the message up **/
/** dvu: bug, this css style gets pulled in elsewhere, b/c apparently even store pages pull in welcome.css **/
.alert {
	margin-top:77px;
	margin-bottom:0px !important;
}