// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height:100%;
}
body {
	height:100%;
	margin: 0px; 
	padding: 0px
}


.welcome-header {
	font-size: 5em;	
	color: #8CC63E;	
	
	position:relative;
	top: 300px;
	background-color: black;
	opacity: 0.5;
	font-weight: 100;
}


.welcome-h1 {
	font-size:76px;
	text-align: left;
	margin-left:128px;
}

.welcome-paragraph {
	color: #fff	;
	
	position:relative;
	top: 300px;
	font-size: 16px;
	background-color: black;
	opacity: 0.5;

}

.welcome-paragraph-text {
	width: 800px;
	margin-left:128px;
	padding-bottom:20px;
}

.home-page-image {
	
}


#section0 {
	background-image: url(asset-path('welcomepage.jpg'));
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	opacity: 0.9;
}

#section1 {
	background-image: url(asset-path('explorergreen.jpg'));	
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	
}

#section2 {
	background-image: url(asset-path('sharegreen.jpg'));	
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	
}

#section3 {
	background-image: url(asset-path('follow.jpg'));	
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	
}


#section4 {
	background-image: url(asset-path('dispensaryshelf1green.jpg'));	
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	
}



#take-tour-button {
	position: relative;
	top: 320px;
	margin-left:128px;
	text-align:center;
}

.homepage-spacer {
	height: 70px;
}

.homepage-explore-disc {
	background-color:white;
	height:300px;
}
