<% if @role_service.canManageStore(current_user, @store) %>					
	<% if @subscription_service.canStoreUseFeature(@store, "store-promo") || current_user.has_role?(:admin) %>
		<%= link_to edit_promo_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_promo_store_path(@store)} , id: "edit-promo-link",  class: "btn edit-store-link" do %>
			<span class="glyphicon glyphicon-edit"></span>
		<% end %>
	<% else %>
		<%= link_to subscription_plans_store_path(@store.slug), id: "edit-promo-link" , class: 'btn edit-store-link' do %>
			<span style="color: #429538;" class="glyphicon glyphicon-edit"></span>
		<% end %>
	<% end %>
<% end %>  		