<% if @role_service.canManageStore(current_user, @store) %>
	<% if @subscription_service.canStoreUseFeature(@store, "store-daily-specials") || current_user.has_role?(:admin) %>													
		<%= link_to edit_dailyspecials_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_dailyspecials_store_path(@store)} , id: "edit-daily-specials-link",  class: "btn edit-store-link" do %>
				<span class="glyphicon glyphicon-edit"></span>
		<% end %>
	<% else %>
		<%= link_to subscription_plans_store_path(@store.id), id: "edit-daily-specials-link",  class: "btn edit-store-link" do %>
				<span class="glyphicon glyphicon-edit"></span>
		<% end %>
	<% end %>
<% end %>