<% if @role_service.canManageStore(current_user, @store) %>
	<% if @subscription_service.canStoreUseFeature(@store, "store-description") || current_user.has_role?(:admin) %>
		 <%= link_to edit_description_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_description_store_path(@store)} , id: "edit-description-link",  class: "btn edit-store-link" , "data-content"=>"<span id='edit-links-tip'>edit links are now available for you to manage your store.</span>" do %>
					<span class="glyphicon glyphicon-edit"></span>
		<% end %>	
		 <% if params[:show_edit_popover] == "true" %>				 
			 <script>				 
			 $(function () {
				  $('#edit-description-link').popover({ 
				    html : true,
				    placement : "left"
				  }).popover('show');
				});
			 </script>
		 <% end %> <!-- show pop up? -->
    <% else %>
    	<%= link_to subscription_plans_store_path(@store.slug), id: "edit-description-link" , class: 'btn edit-store-link' do %>
			<span class="glyphicon glyphicon-edit"></span>
		<% end %>
	<% end %> 
<% end %> <!-- if store manager -->