<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Write a Review</h4>          
    </div>
    <div class="modal-body">
      <%= render 'form' %>            
    <div class="simple-weed-modal-footer">
            </div>   
    </div><!-- modal-body -->
  </div> <!-- modal-content -->
</div>    
