<% if activity.trackable %>
<span class="glyphicon glyphicon-user user-pic-feed-item"></span>
<a><%= activity.trackable.user.username %></a> commented on the review of <a><%= activity.trackable.store_review.store.name %></a>

<% end %>