</br>
<div class="col-md-2">
	<%= render :partial =>'left_column', locals: {profile_user: @profile_user, user_is_viewing_own_profile: @user_is_viewing_own_profile }%>
</div>
<div class="activities col-md-7">
<% @activities.each do |activity| %>
  <div class="activity">
    
    <%= render_activity activity %>
  </div>
 <% end %>

</div>

<div class="right-col-profile col-md-3">
	
	<% if !@user_is_viewing_own_profile	%>
		<%= form_tag(follow_profile_path, method: "post" , :remote => true) do %>			
			<%= button_tag(type: 'submit', class: "btn btn-success follow-user-button") do %>
				<div class="follow-user-star glyphicon glyphicon-star"></div>
			<% end %>
		<% end %>
	<% end %>

</div>