

</br>
<div class="col-md-2">
	<%= render :partial =>'left_column', locals: {profile_user: @profile_user, user_is_viewing_own_profile: @user_is_viewing_own_profile }%>
</div>
<div class="activities col-md-7">
<% @activities.each do |activity| %>
  
    
    <%= render_activity activity %>
  
 <% end %>

</div>

<div class="right-col-profile col-md-3">
</div>

