<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>	
<body>
	
	<div style="background-color: #222222;border-color: #090909;width: 620px;height: 77px;">
		<span style="background:#222222;color:#ffffff;font-weight:bold;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;vertical-align:middle;font-size:16px;letter-spacing:-0.03em;text-align:left;vertical-align:baseline;line-height:77px;margin-left:40px;">simpleweed</span>
	</div>

	<div style="margin-left:40px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
		<%= yield %>
	</div>

</body>
</html>