<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>	
<body>
	<style>
	.email-header {
		background-color: #222222;
		border-color: #090909;
		width: 620px;
		height: 77px;		
	}
	.logo {
	    line-height:77px;
	    margin-left: 40px;
	}
	.main {
		margin-left:40px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	/** bootstrap css **/
	.btn-primary {
		color: white;
		background-color: #428bca;
		border-color: #357ebd;
	}

	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		border-radius: 4px;
		-webkit-user-select: none;
		text-decoration: none;
	}
	.email-body {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	</style>
	<div class="email-header">
		<span class = "logo" style="background:#222222;color:#ffffff;font-weight:bold;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;vertical-align:middle;font-size:16px;letter-spacing:-0.03em;text-align:left;vertical-align:baseline">simpleweed</span>
	</div>

	<div class="main">
		<%= yield %>
	</div>

</body>
</html>